@page
@model WebApplication1.Pages.Sample2Model
@{
    int a=10;
    string s = "welcome to razor syntax";
    double b = 20.5;
    bool c = true;
}
<div>
    <p>@DateTime.Now</p>
    <p> value of a is @a</p>
    <p>@s</p>
    <p>value of bis @b</p>
    <p>value of c is @c</p>
</div>